.container {
    background-color: #fbe7ea;
    display: flex;
    flex-direction: column;
    height: 2000px;
    align-items: center;
    
}

.container_two {
      
    width: 100%;
    height: 1800px;
    display: flex;
    justify-content: center;
}