.container {
    /* border: 2px solid pink; */
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-evenly;
    margin: 0%;
}

.button {    
    border: none;
    width: 70%;    
}

#selected {
    /* background:rgb(240, 195, 232); */
    border-bottom: 5px solid #d41331;
    font-size: 1.5rem;
    color: #d41331;
}